<header id="header">
  <a href="/" class="logo">NOTEBOOK SHOP</a>
  <div id="toggle"></div>
  <div id="navbar">
    <ul>
      <li><a href="/">Home</a></li>

      <li><a href="/notebooks">Notebooks</a></li>

      {{#if isAuth}}

      <li><a href="/add">Add Notebooks</a></li>
      <li><a href="/card">Basket</a></li>
      <li><a href="/orders">Order</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/auth/logout">LOGOUT</a></li>

      {{else}}

      <li><a href="/auth/login">LOGIN</a></li>
      <li><a href="/auth/register">SIGN UP</a></li>

      {{/if}}

    </ul>
  </div>
</header>