<div class="row">
    <div class="col-sm-12">
        <div class="text-center">
            <div
                style="background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif); background-position: center; height: 400px">
                <h1 class="text-center" style="font-size: 80px;">404</h1>
            </div>

            <div>
                <h2>
                    Adashganga o'xshaysiz
                </h2>

                <p>siz izlayotgan sahifa mavjud emas!</p>

                <a href="/notebooks" class="btn btn-outline-success">Go to Notebooks</a>
            </div>
        </div>
    </div>
</div>