{{#if notebooks_images.length}}
<!-- Swiper -->
<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        {{#each notebooks_images}}
        <div class="swiper-slide">
            <img src="{{img}}" />
        </div>
        {{/each}}
    </div>
</div>

{{else}}
<h1>Not</h1>
{{/if}}