.content_notebook {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.card-img-top {
    height: 200px;
}

/* Swipper */

.swiper {
    width: 70vw;
    height: 85vh;
    position: absolute;
    margin-top: 2vh;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 890px) {
    .swiper {
        width: 90vw;
        height: 45vh;
        margin-top: 20vh;
    }
}


@media only screen and (max-width: 468px) {
    .swiper {
        width: 90vw;
        height: 30vh;
        margin-top: 25vh;
    }
}

@media only screen and (max-width: 368px) {
    .swiper {
        width: 90vw;
        height: 40vh;
        margin-top: 20vh;
    }
}